/* center card  */
body {
    margin: 0;
    font-family: tahoma;
    height: 100vh;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(51, 51, 51);
  }
  
  /* styling for card  */
  .card {
    padding: 30px 0 55px;
    margin-bottom: 30px;
    background-color: #f5f5f5;
    text-align: center;
    overflow: hidden;
    position: relative;
    box-shadow: 20px 20px 42px #d0d0d0, -20px -20px 42px #ffffff;
    width: 20rem;

  }
  .card:hover{
     
    border-radius:8px;
  }
  
  /* porfile image section  */
  /* css for profile image and  fluid effect  */
  
  /* 1.2 */
  .card .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    z-index: 1;
    position: relative;
    border-radius: 20%;
  }
  
  .card .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #1f1b1b;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
  }
  
  .card:hover .picture::before {
    height: 100%;
  }
  
  .card .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #1f1b1b;
    position: absolute;
    top: 0;
    left: 0%;
    z-index: -1;
  }
  
  /* 1.1 */
  .card .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
  }
  .card:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
  }
  
  /* porfile image section  */
  /* marin content section  */
  /* 2.1 */
  .card .main-content {
    margin-bottom: -19px;
  }
  
  /* 2.2 */
  .card .main-content .title {
    display: block;
    font-size: 15px;
    color: #1f1b1b;
    text-transform: capitalize;
    margin: 5px 37px 0;
  }
  
  /* 2.3 */
  .card .main-content .name {
    padding: 0;
    margin: 8px;
    text-transform: uppercase;
  }
  
  /* marin content section  */
  /* social media section  */
  /* 3.1 */
  .card .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #1f1f1b;
    position: absolute;
    /* 3.5 */
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
  }
  
  /* 3.5 */
  .card:hover .social {
    bottom: 0;
  }
  
  /* 3.2 */
  .card .social li {
    display: inline-block;
  }
  
  /* 3.3 */
  .card .social li a {
    display: block;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }
  
  /* 3.4 */
  .card .social li a:hover {
    color: #3e3b44;
    background-color: rgb(99, 180, 180);
    transition:0.6s;
    border:1px solid white;
    border-radius: 2rem;
  }
  
  /* skill section  */
  /* 4.1 */
  .skills {
    text-align: left;
    padding: 15px;
  }
  
  /* 4.2 */
  .skills ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  /* 4.3 */
  .skills ul li {
    border:1px solid black;
    border-radius: 5px;
    display: inline-block;
    font-size: 15px;
    margin: 0 7px 7px 0;
    padding: 7px;
  
  }
  
  /* 4.4 */
  .skills ul li:hover {
    background-color:rgb(76, 76, 76);
    /* background-color: rgb(99, 180, 180); */
    color:white;
    cursor: pointer;
    transition: 0.5s;
    font-weight: bold;
    border:2px solid white;
  
    
  }
  